<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 글보기</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- vendor/main CSS Files -->
  <link href="/vendor/main/aos/aos.css" rel="stylesheet">
  <link href="/vendor/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/main/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/main/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/main/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/main/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/main/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/main1.css" rel="stylesheet">
  <style>
    #content {
      white-space: pre-line;
    }
  </style>
  <script th:inline="javascript">

    /*<![CDATA[*/
    const session_user_id = /*[[${session.SS_USER_ID}]]*/ ''; // Controller에서 받은 세션에 저장된 값
    const user_id = /*[[${rDTO.userId}]]*/ ''; // 공지사항 게시글 작성자 아이디
    const nSeq = /*[[${rDTO.noticeSeq}]]*/ ''; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함

    $(document).ready(function () {
      $("#btnEdit").on("click", function () {
        doEdit(); // 공지사항 수정하기 실행
      });
      $("#btnDelete").on("click", function () {
        doDelete(); // 공지사항 삭제하기 실행
      });
      $("#btnList").on("click", function () {
        location.href = "/notice/noticeList"; // 공지사항 리스트 이동
      });
      $("#btnCommentInsert").on("click", function () {
        doCommentInsert(); // 댓글 작성
      });

    });

    function doEdit() {
      if (session_user_id === user_id) {
        location.href = "/notice/noticeEditInfo?nSeq=" + nSeq;
      } else if (session_user_id === "") {
        alert("로그인 하시길 바랍니다.");
      } else {
        alert("본인이 작성한 글만 수정 가능합니다.");
      }
    }

    function doDelete() {
      if (session_user_id === user_id) {
        if (confirm("작성한 글을 삭제하시겠습니까?")) {
          $.ajax({
            url: "/notice/noticeDelete", // 호출할 메서드의 url
            type: "post", // 방식
            dataType: "JSON", // 데이터타입
            data: {"nSeq": nSeq}, //이게 컨트롤러에 보낼 데이터 저 메서드를 호출할 때 이 데이터를 보내겠다. nSeq를 notice
            success: function (json) {
              alert(json.msg);
              location.href = "/notice/noticeList";
            }
          });
        }
      } else if (session_user_id === "") {
        alert("로그인 하시길 바랍니다.");
      } else {
        alert("본인이 작성한 글만 삭제 가능합니다.");
      }
    }

    function doCommentInsert() {
      let f = document.getElementById("f");

      if (f.comment.value === "") {
        alert("댓글을 입력하시기 바랍니다.");
        f.comment.focus();
        return;
      }

      $.ajax({
        url: "/comment/insertComment",
        type: "post",
        dataType: "JSON",
        data: $("#f").serialize(),
        success: function (json) {
          alert(json.msg);
          window.location.reload();
          // 댓글 작성 후 동작 추가 필요 시 여기에 추가
        }
      });
    }

    // 댓글 삭제
    function doDeleteComment(cSeq) {
      if (confirm("댓글을 삭제하시겠습니까?")) {
        $.ajax({
          url: "/comment/deleteComment",
          type: "post",
          dataType: "JSON",
          data: {"cSeq": cSeq, "nSeq": nSeq},
          success: function (json) {
            alert(json.msg);
            window.location.reload();
          }
        });
      }
    }

    function doEditComment(cSeq, btn) {
      var row = $(btn).closest('.row');
      var commentText = row.find('.comment-text');
      var editComment = row.find('.edit-comment');
      var saveButton = row.find('.btnSaveComment');
      var deleteButton = row.find('.btnCommentUpdate');

      // 현재 댓글 내용을 input 필드로 변경
      editComment.val(commentText.text());
      commentText.hide();
      editComment.show();
      $(btn).hide();
      saveButton.show();
      deleteButton.hide(); // 삭제 버튼 숨기기
    }

    function doSaveComment(cSeq, btn) {
      var row = $(btn).closest('.row');
      var editComment = row.find('.edit-comment').val();

      // AJAX 호출로 수정된 댓글 서버에 전송
      $.ajax({
        url: "/comment/updateComment",
        type: "post",
        dataType: "JSON",
        data: {"cSeq": cSeq, "comment": editComment, "nSeq": nSeq},
        success: function (json) {
          alert('댓글이 수정되었습니다.');
          window.location.reload();
        },
        error: function (xhr, status, error) {
          console.error('Error editing comment:', error);
          alert('댓글 수정 중 오류가 발생했습니다.');
        }
      });
    }

    /*]]>*/
  </script>

  <style>
    .comment {
      margin-bottom: 10px;
      border: 1px solid #dee2e6;
      padding: 10px;
      border-radius: 5px;
    }

    .comment-list {
      padding: 10px;
      /* 컨테이너 안에서 크롤링 하게 창을 설정해두는 코드*/
      /*overflow-y: auto;*/
      /*max-height: 300px; !* 원하는 높이로 설정하세요 *!*/
    }
  </style>

</head>
<body>

<!-- 공통 헤더 -->
<div th:replace="~{innerHeader}"></div>

<!-- Main -->
<main id="main">

  <!-- Breadcrumbs -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div class="section-title">
          <br>
          <h2>community</h2>
          <p>커뮤니티 글 보기</p>
        </div>
        <ol>
          <li><a href="/main">Home</a></li>
          <li>community</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->


  <div class="container mt-5">

    <section id="portfolio-details" class="portfolio-details" style="padding-top: 0px;">
      <div class="container">

        <div class="portfolio-info" style="min-height: 500px">
          <div class="row">
            <div class="row">
              <div class="col-md-8"></div>

              <div class="col-md-4 text-right">
                <span><strong>작성일:</strong> [[${#temporals.format(rDTO.regDt, 'yyyy-MM-dd HH:mm')}]]</span>
                <span style="margin: 0 10px"> | </span>
                <span><strong>조회수:</strong> [[${rDTO.readCnt}]]</span>
              </div>
            </div>
          </div>
          <h4>제목</h4>
          <h3 th:text="${rDTO.title}"></h3>
          <h5>내용</h5>
          <p>
            <textarea readonly="" class="readTextarea" th:text="${rDTO.contents}" style="width: 100%; overflow-y: hidden; border: none; resize: none; outline: none; cursor: default"></textarea>
          </p>
        </div>
        <div class="php-email-form" style="text-align: right; margin-top: 10px">
          <button id="btnEdit" type="button" th:if="${session.SS_USER_ID == rDTO.userId}">수정</button>
          <button id="btnDelete" type="button" th:if="${session.SS_USER_ID == rDTO.userId}">삭제</button>
          <button id="btnList" type="button">목록</button>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->
    <form name="f" id="f">
      <div class="card mb-4">
        <div class="card-header">댓글 작성</div>
        <div class="card-body">
          <input type="hidden" name="nSeq" th:value="${rDTO.noticeSeq}"/>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">작성자</label>
            <div class="col-sm-10">
              <a>
                <div class="1" th:each="cDTO : ${rList}"></div>
              </a>
              <p class="form-control-plaintext" th:name="ssUserId" th:text="${session.SS_USER_ID}">
                [[${session.SS_USER_ID}]]</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">댓글</label>
            <div class="col-sm-8">
              <input type="text" name="comment" id="comment" class="form-control" maxlength="100"
                     placeholder="댓글을 입력하세요...">
            </div>
            <div class="col-sm-2">
              <button id="btnCommentInsert" type="button" class="btn btn-primary">작성</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="card">
      <div class="card-header">댓글 목록</div>
      <div class="card-body">
        <div class="comment-list">
          <div class="comment" th:each="cDTO : ${rList}">
            <div class="row">
              <div th:name="cSeq" th:value="${cDTO.commentSeq()}" style="display: none"></div>
              <!--댓글 삭제 수정을 위해 댓글 번호를 가져오기 위해 작성-->
              <div class="col-md-4"><strong>작성자: </strong><span
                  th:text="${cDTO.userId()}">작성자</span></div>
              <div class="col-md-6 comment-content">
                <strong>댓글: </strong><span th:text="${cDTO.comment()}"
                                           class="comment-text">댓글 내용</span>
                <input type="text" class="form-control edit-comment" style="display:none;">
              </div>
              <div class="col-md-2 text-left"><strong>작성시간: </strong><span
                  th:text="${cDTO.regDt()}">작성시간</span></div>
              <button type="button" th:onclick="'doEditComment(' + ${cDTO.commentSeq()} + ', this)'"
                      class="btn btn-warning btnCommentUpdate" th:if="${session.SS_USER_ID == cDTO.userId()}"
                      style="width: 70px"
              >수정
              </button>
              <button type="button" th:onclick="'doDeleteComment(' + ${cDTO.commentSeq()} + ')'"
                      class="btn btn-danger btnCommentDelete" th:if="${session.SS_USER_ID == cDTO.userId()}"
              style="width: 70px">삭제
              </button>

              <button type="button" th:onclick="'doSaveComment(' + ${cDTO.commentSeq()} + ', this)'"
                      class="btn  btnSaveComment" style="display:none; width: 70px; background-color: #FFC107">저장
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</main>

<!-- 공통 푸터 -->
<div th:replace="~{footer}"></div>
</body>
</html>
