<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>하루 경제 - 학습일지</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- vendor/main CSS Files -->
    <link href="/vendor/main/aos/aos.css" rel="stylesheet">
    <link href="/vendor/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/main/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/main/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/main/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/main/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/main/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Gp
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="~{innerHeader}"></div>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center" style="padding-top: 20px">
                <div class="section-title">
                    <h2>learning journal</h2>
                    <p>학습한 단어 목록</p>
                </div>
                <ol>
                    <li><a href="/main">Home</a></li>
                    <li>learning journal</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page" style="min-height: 600px; padding-top: 0px">
        <div class="container">

            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 60%">단어</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dto: ${rList}">
                        <td th:text="${dto.word}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="~{footer}"></div>
<!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- vendor/main JS Files -->
<script src="/vendor/main/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/main/aos/aos.js"></script>
<script src="/vendor/main/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/main/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/main/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/main/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/main/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // 현재 페이지에 해당하는 네비게이션 활성화 설정
        var currentPage = 'notice';

        // 각 페이지에 따라 해당 네비게이션 항목 활성화
        if (currentPage === 'home') {
            $("#nav-home").addClass("active");
        } else if (currentPage === 'study') {
            $("#nav-study").addClass("active");
        } else if (currentPage === 'search') {
            $("#nav-search").addClass("active");
        } else if (currentPage === 'learning') {
            $("#nav-learning").addClass("active");
        } else if (currentPage === 'notice') {
            $("#nav-notice").addClass("active");
        } else if (currentPage === 'mypage') {
            $("#nav-mypage").addClass("active");
        }
    });
</script>
</body>

</html>
