<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>하루 경제 - 비밀번호 변경</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- vendor/main CSS Files -->
  <link href="/vendor/main/aos/aos.css" rel="stylesheet">
  <link href="/vendor/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/main/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/main/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/main/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/main/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/main/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/main1.css" rel="stylesheet">

  <script th:inline="javascript">

    let userId = /*[[${session.SS_USER_ID}]]*/ '';

    if(userId == undefined) {
      alert("로그인 정보가 없어 로그인 페이지로 이동합니다.")
      location.href="/user/login"
    }

  </script>

  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="~{innerHeader}"></div>
<!-- End Header -->

<!-- ======= updatePassword Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>비밀번호 변경<span>.</span></h1>
      </div>
      <form id="f" role="form" class="php-email-form">
        <div>
          <div class="col-md-6 form-group mx-auto" style="margin-top: 15px;">
            <h2 style="font-size: 12px; padding-bottom: 7px; padding-left:2px; text-align: left">새 비밀번호</h2>
            <input type="password" name="password" class="form-control" id="password" placeholder="새 비밀번호를 입력하세요." required style="padding: 12px;">
          </div>
          <div class="col-md-6 form-group mx-auto" style="margin: 15px;">
            <h2 style="font-size: 12px; padding-bottom: 7px; padding-left:2px; text-align: left">새 비밀번호 확인</h2>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="새 비밀번호 확인을 입력하세요." required style="padding: 12px;">
          </div>
          <div class="text-center">
            <button id="btnUpdatePassword" name="btnUpdatePassword" type="button">비밀번호 변경</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section><!-- End updatePassword -->

<!-- ======= Footer ======= -->
<div th:replace="~{footer}"></div>
<!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- vendor/main JS Files -->
<script src="/vendor/main/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/main/aos/aos.js"></script>
<script src="/vendor/main/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/main/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/main/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/main/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/main/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">


// let userId = /*[[${session.SS_USER_ID}]]*/ '';
//
// if (userId == undefined) {
//   alert("로그인 정보가 없어 로그인 페이지로 이동합니다.")
//   location.href = "/user/login"
// }

</script>

<script th:inline="javascript">
  // HTML로딩이 완료되고, 실행됨
  $(document).ready(function () {
    console.log([[${session.SS_USER_ID}]]);
    console.log([[${session.NEW_PASSWORD}]]);

    if (([[${session.SS_USER_ID}]] === null) && [[${session.NEW_PASSWORD}]] === null) {

      alert("현재 접근 권한이 없습니다.")

      location.href = "login"

    }

    // 비밀번호 변경을 위해 회원정보 조회
    $("#btnUpdatePassword").on("click", function () {
      let f = document.getElementById("f"); //form 태그

      if (f.password.value === "") {
        alert("새 비밀번호를 입력하세요");
        f.password.focus();
        return;
      }

      if (f.password2.value === "") {
        alert("새 비밀번호 확인을 입력하세요");
        f.password2.focus();
        return;
      }

      if (f.password.value !== f.password2.value) {
        alert("새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.");
        f.password.focus();
        return;
      }

      // Ajax 호출해서 비밀번호 재설정하기
      $.ajax({
        url: "/user/updatePassword",
        type: "post",               //전송방식
        dataType: "JSON",           //전송 결과 JSON으로 받기
        data: $("#f").serialize(),  // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경
        success: function (json) {
          console.log(" 정상적으로 작동중인 콘솔 ")


          if (json.result == 1) {
            alert("비밀번호가 재설정 되었습니다."); //메시지띄우기
            console.log([[${session.SS_USER_ID}]]);

            if ([[${session.SS_USER_ID}]] !== null) {
              location.href = "/user/login"

              $.ajax({
                url : "/user/logout",
                type: "post",
                dataType: "JSON",
                success: function (json){

                  if (json.result === 1) {
                    window.location.href = "/user/login";
                  } else {
                    alert(json.msg);
                  }
                }
              })

            } else {
              location.href = "/main";

            }
          }
        }
      });

    });
  });
</script>
</body>
</html>