<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/findId.css"/>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    // HTML로딩이 완료되고, 실행됨
    $(document).ready(function () {

      // 로그인
      $("#btnMain").on("click", function () {
        location.href = "/main";
      });

      // 아이디찾기
      $("#btnFindId").on("click", function () {
        let f = document.getElementById("f"); //form 태그

        if (f.userName.value === "") {
          alert("이름를 입력하세요.");
          f.userName.focus();
          return;
        }

        if (f.email.value === "") {
          alert("이메일를 입력하세요.");
          f.email.focus();
          return;
        }

        // Ajax 호출해서 로그인하기
        $.ajax({
          url: "/user/getUserId",
          type: "post",               //전송방식
          dataType: "JSON",           //전송 결과 JSON으로 받기
          data: $("#f").serialize(),  // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경
          success: function (json) {
            if (json.userId === undefined) { //아이디 찾기 실패
              alert("입력하는 정보와 일치하는 아이디가 없습니다."); //메시지띄우기

            } else {
              alert("회원님의 아이디는 : " + json.userId + " 입니다");    //메시지 띄우기
              $("#userId").focus();
              location.href = "/user/login";

            }
          }
        });
      });
    });

  </script>
</head>

<style>
  .divTableCell {
    display: flex;
    align-items: center;
  / 수직 가운데 정렬 /
  }
</style>

<style>
  h2 {
    text-align: center;
  / 가운데 정렬 / font-weight: bold;
  / 굵은 글꼴 / margin-top: 20 px;
  / 위쪽 여백 추가 / margin-bottom: 20 px;
  / 아래쪽 여백 추가 /
  }
</style>


<body>
<h2>아이디 찾기</h2>
<br/>
<form id="f">
  <div class="divTable minimalistBlack">
    <div class="divTableBody">
      <div class="divTableRow">

      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 이름
        </div>
        <div class="divTableCell">
          <input type="text" name="userName" style="width:100%" placeholder="이름"/>
        </div>
      </div>

      <div class="divTableRow">
        <div class="divTableCell"> 이메일
        </div>
        <div class="divTableCell">
          <input type="email" name="email" style="width:100%" placeholder="email"/>
<!--          <input type="text" name="authNumber" style="width: 30%; margin-left: 10px;"-->
<!--                 placeholder="인증번호">-->
<!--          <button id="btnSendMail" type="button">확인</button>-->
        </div>
      </div>


      <input type="hidden" name="sinceDay"/>
    </div>
  </div>
  <div>
    <button id="btnFindId" name="btnFindId" type="button">아이디 찾기</button>
  </div>
</form>
</body>
</html>