<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/findId.css"/>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
</head>


<style>
  .divTableCell {
    display: flex;
    align-items: center; / 수직 가운데 정렬 /
  }
</style>

<style>
  h2 {
    text-align: center; / 가운데 정렬 /
  font-weight: bold; / 굵은 글꼴 /
  margin-top: 20px; / 위쪽 여백 추가 /
  margin-bottom: 20px; / 아래쪽 여백 추가 /
  }
</style>




<body>
<h2>비밀번호 변경</h2>
<br/>
<form id="f">
  <div class="divTable minimalistBlack">
    <div class="divTableBody">
      <div class="divTableRow">

      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 비밀번호
        </div>
        <div class="divTableCell">
          <input type="password" name="password" style="width:100%" placeholder="비밀번호"/>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 비밀번호 확인
        </div>
        <div class="divTableCell">
          <input type="password" name="password2" style="width:100%" placeholder="비밀번호 확인"/>
        </div>
      </div>




      <input type="hidden" name="sinceDay"/>
    </div>
  </div>
  <div>
    <button id="btnSend" name="btnSend" type="button">비밀번호 변경</button>
  </div>
</form>
</body>
</html>