<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/findId.css"/>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    // HTML로딩이 완료되고, 실행됨
    $(document).ready(function () {

      // 비밀번호 변경을 위해 회원정보 조회
      $("#btnUpdatePassword").on("click", function () {
        let f = document.getElementById("f"); //form 태그

        if (f.password.value === "") {
          alert("새 비밀번호를 입력하세요");
          f.password.focus();
          return;
        }

        if (f.password2.value === "") {
          alert("비밀번호 확인을 입력하세요");
          f.password2.focus();
          return;
        }

        if (f.password.value !== f.password2.value) {
          alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
          f.password.focus();
          return;
        }

        // Ajax 호출해서 로그인하기
        $.ajax({
          url: "/user/updatePassword",
          type: "post",               //전송방식
          dataType: "JSON",           //전송 결과 JSON으로 받기
          data: $("#f").serialize(),  // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경
          success: function (json) {
          }
        });
        alert("비밀번호 재설정 성공"); //메시지띄우기
        window.location.href = "/user/login";
      });
    });
  </script>
</head>


<style>
  .divTableCell {
    display: flex;
    align-items: center;
  / 수직 가운데 정렬 /
  }
</style>

<style>
  h2 {
    text-align: center;
  / 가운데 정렬 / font-weight: bold;
  / 굵은 글꼴 / margin-top: 20 px;
  / 위쪽 여백 추가 / margin-bottom: 20 px;
  / 아래쪽 여백 추가 /
  }
</style>


<body>
<h2>비밀번호 변경</h2>
<br/>
<form id="f">
  <div class="divTable minimalistBlack">
    <div class="divTableBody">
      <div class="divTableRow">

      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 새 비밀번호
        </div>
        <div class="divTableCell">
          <input type="password" id="password" name="password" style="width:100%"
                 placeholder="새 비밀번호"/>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 비밀번호 확인
        </div>
        <div class="divTableCell">
          <input type="password" id="password2" name="password2" style="width:100%"
                 placeholder="비밀번호 확인"/>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button id="btnUpdatePassword" name="btnUpdatePassword" type="button">비밀번호 변경</button>
  </div>
</form>
</body>
</html>