<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/findPassword.css"/>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    // HTML로딩이 완료되고, 실행됨
    $(document).ready(function () {

      // 로그인
      $("#btnMain").on("click", function () {
        location.href = "/main";
      });

      // 비밀번호 변경을 위해 회우너정보 조회
      $("#btnFindPassword").on("click", function () {
        let f = document.getElementById("f"); //form 태그

        if (f.userId.value === "") {
          alert("아이디를 입력하세요.");
          f.userId.focus();
          return;
        }

        if (f.userName.value === "") {
          alert("이름을 입력하세요.");
          f.userName.focus();
          return;
        }

        if (f.email.value === "") {
          alert("이메일를 입력하세요.");
          f.email.focus();
          return;
        }

        // Ajax 호출해서 로그인하기
        $.ajax({
          url: "/user/getUserPassword",
          type: "post",               //전송방식
          dataType: "JSON",           //전송 결과 JSON으로 받기
          data: $("#f").serialize(),  // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경
          success: function (json) {
            console.log(json);
            if (json.userId === undefined) { //아이디 찾기 성공
              alert("입력하신 정보와 일치하는 계정이 없습니다"); //메시지띄우기
            } else {                //로그인 실패
              $("#userId").focus();   //아이디 입력 항목에 마우스 커서 이동
              alert("입력하신 정보의 계정이 존재합니다"); //비밀번호 재설정 페이지로 이동
              alert("새 비밀번호를 작성하세요"); //비밀번호 재설정 페이지로 이동
              window.location.href = "/user/findUpdatePassword";
            }
          }
        });
      });
    });

  </script>
</head>

<style>
  .divTableCell {
    display: flex;
    align-items: center; / 수직 가운데 정렬 /
  }
</style>

<style>
  h2 {
    text-align: center; / 가운데 정렬 /
  font-weight: bold; / 굵은 글꼴 /
  margin-top: 20px; / 위쪽 여백 추가 /
  margin-bottom: 20px; / 아래쪽 여백 추가 /
  }
</style>

<body>
<h2>비밀번호 찾기</h2>
<br/>
<form id="f">
  <div class="divTable minimalistBlack">
    <div class="divTableBody">
      <div class="divTableRow">

      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 아이디
        </div>
        <div class="divTableCell">
          <input type="text" name="userId" style="width:100%" placeholder="아이디"/>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 이름
        </div>
        <div class="divTableCell">
          <input type="text" name="userName" style="width:100%" placeholder="이름"/>
        </div>
      </div>

      <div class="divTableRow">
        <div class="divTableCell"> 이메일
        </div>
        <div class="divTableCell">
          <input type="email" name="email" style="width:100%" placeholder="email"/>
        </div>
      </div>


      <input type="hidden" name="sinceDay"/>
    </div>
  </div>
  <div>
    <button id="btnFindPassword" name="btnFindPassword" type="button">비밀번호 찾기</button>
  </div>
</form>
</body>
</html>