<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>로그인 화면</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        
        // HTML로딩이 완료되고,  실행됨
        $(document).ready(function () {
            
            // 회원가입
            $("#btnUserReg").on("click", function () { //버튼 클릭 시 발생 이벤트
                location.href = "userRegForm";
            })
            
            // 메인화면
            $("#btnMain").on("click", function (){
                location.href = "/html/index.html";
            })
            
            // 로그인
            $("#btnLogin").on("click", function (){ 
                let f =document.getElementById("f"); //form 태그
           
                if (f.userId.value ===""){
                    alert("아이디를 입력하세요.");
                    f.userId.focus();
                    return;
                }

                if(f.password.value ==="") {
                    alert("비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                    
                }
                
                // Ajax 호출해서 로그인하기
                $.ajax({
                    url: "/user/loginProc",
                    type: "post",               //전송방식
                    dataType: "JSON",           //전송 결과 JSON으로 받기
                    data: $("#f").serialize(),  // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경
                    success: function (json) {

                        if (json.result === 1) { //로그인 성공
                            alert(json.msg); //메시지띄우기
                            location.href = "/user/loginSuccess"; //로그인 성공페이지 이동

                        } else {                //로그인 실패
                            alert(json.msg);    //메시지 띄우기
                            $("#userId").focus();   //아이디 입력 항목에 마우스 커서 이동
                        }
                    }
                }
             )
        })
    })

    </script>
</head>
<body>
<h2>로그인하기</h2>
<hr/>
<br/>
<form id ="f">
    <div class ="divTable minimalistBlack">
        <div class ="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">아이디
                </div>
                <div class="divTableCell">
                    <input type ="text" name="userId" id="userId" style="width:95%"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">비밀번호
                </div>
                <div class="divTableCell">
                    <input type="password" name="password" id="password" style="width:95%">
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id ="btnLogin" type="button">로그인</button>
        <button id ="btnUserReg" type="button">회원가입</button>
        <button id ="btnMain" type="button">메인화면</button>
    </div>
</form>
</body>
</html>