<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입 화면</title>
  <link rel="stylesheet" href="/css/regForm.css"/>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">

    // 아이디 확인여부 (중복 1 / 중복아님 : 0)
    let userIdCheck = "0";
    // 이메일 확인여부 (중복 1 / 중복아님 : 0)
    let emailCheck = "0";
    // 닉네임 확인여부 (중복 1 / 중복 아님: 0)
    let nickNameCheck =  "0";
    // 이메일 인증번호 보내기 (성공 :0 / 실패 : 1)
    let doSendMail =  "0";

    let emailAuthNumber = 0;

    // HTML로딩이 완료되고, 실행됨
    $(document).ready(function () {
      // let f = document.getElementById("f"); // form 태그

      // 아이디 확인
      $("#btnUserId").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        UserIdExists(f);
      })

      // 이메일 확인
      // $("#btnUserEmail").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
      //  // isValidEmail(ff);
      //   UserEmailExists(f);
      // })
      // 닉네임 확인
      $("#btnNickName").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        NickNameExists(f);
      })
      // 이메일 보내기
      $("#btnSendMail").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        getEmailExists(f);
      })

      // 우편번호 찾기
      $("#btnAddr").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        kakaoPost(f);
      })

      // 회원가입
      $("#btnSend").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
        createUser(f);

      })
    })

    function getEmailExists(f) {
      if (f.email.value === "") {
        alert("이메일을 입력하세요.");
        f.email.focus();
        return;
      }
      // Ajax 호출해서 회원가입하기
      $.ajax({
        url:"/user/getEmailExists",
        type: "post",
        datatype: "JSON",
        data: $("#f").serialize(),
        success: function (json) {
          if(json.existsYn === 1) {
            alert("이미 가입된 이메일 주소가 존재합니다.");
            f.email.focus();
          } else {
            alert("이메일로 인증번호가 발송되었습니다. \n받은 메일의 인증번호를 입력하시기 바랍니다.")
            console.log(json.authNumber)
            emailAuthNumber = json.authNumber;
          }


        }
      })

    }

    // 회원아이디 중복 체크
    function UserIdExists(f) {
      if (f.userId.value === "") {
        alert("아이디를 입력하세요.");
        f.userId.focus();
        return;
      }
      // Ajax 호출해서 회원가입하기
      $.ajax({
            url: "/user/UserIdExists",
            type: "post", // 전송방식은 Post
            dataType: "JSON", // 전송 결과는 JSON으로 받기
            data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
            success: function (json) { // 호출이 성공했다면..
              console.log(json)
              if (json === 1) {
                alert("이미 가입된 아이디가 존재합니다.");
                f.userId.focus();
              } else {
                userIdCheck = 0;
                alert("가입 가능한 아이디입니다.");
              }
            }
          }
      )
    }

    // 이메일 중복 체크
    function UserEmailExists(f) {
      if (f.email.value === "") {
        alert("이메일을 입력하세요.");
        f.email.focus();
        return;
      }

      // 이메일 올바른 형식작성
      // function isValidEmail(ff){
      //    if (ff.email.value === /^[^\s@]+@[^\s@]+\.[^\s@]+$/) {
      //      alert("올바른 형식으로 작성하세요.");
      //      ff.email.focus();
      //      return;
      //    }
      // }

      // Ajax 호출해서 이메일중복 검사하기
      $.ajax({
            url: "/user/UserEmailExists",
            type: "post", // 전송방식은 Post
            dataType: "JSON", // 전송 결과는 JSON으로 받기
            data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
            success: function (json) { // 호출이 성공했다면..
              if (json === 1) {
                alert("이메일이 존재합니다 다른 이메일로 가입 바랍니다");
                f.email.focus();
              } else { //
                alert(" 가입 가능한 이메일입니다");
                emailCheck = 0;

              }

            }
          }
      )
    }

    function NickNameExists(f) {
      if (f.nickName.value === "") {
        alert("닉네임을 입력하세요.");
        f.nickName.focus();
        return;
      }

      // Ajax 호출해서 회원가입하기
      $.ajax({
            url: "/user/NickNameExists",
            type: "post", // 전송방식은 Post
            dataType: "JSON", // 전송 결과는 JSON으로 받기
            data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
            success: function (json) { // 호출이 성공했다면..
              console.log(json)
              if (json === 1) {
                alert("이미 가입된 닉네임이 존재합니다.");
                f.nickName.focus();
              } else {
                nickNameCheck = 0;
                alert("사용 가능한 닉네임입니다..");
              }
            }
          }
      )
    }

    // function isValidEmail(email) {
    //   // 이메일 형식의 정규표현식
    //   const email1 = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    //   return email.test(email);
    // }

    // 카카오 우편번호 조회 API 호출
    function kakaoPost(f) {
      new daum.Postcode({
        oncomplete: function (data) {
          // Kakao에서 제공하는 data는 JSON구조로 주소 조회 결과값을 전달함
          // 주요 결과값
          // 주소 : data.address
          // 우편번호 : data.zonecode
          let address = data.address; // 주소
          let zonecode = data.zonecode; // 우편번호
          f.address.value = "(" + zonecode + ")" + address
        }
      }).open();
    }

    //회원가입 정보의 유효성 체크하기
    function createUser(f) {
      if (f.userId.value === "") {
        alert("아이디를 입력하세요.");
        f.userId.focus();
        return;
      }
      if (userIdCheck !== 0) {
        alert("아이디 중복 체크 및 중복되지 않은 아이디로 가입 바랍니다.");
        f.userId.focus();
        return;
      }
      if (f.userName.value === "") {
        alert("이름을 입력하세요.");
        f.userName.focus();
        return;
      }
      if (f.password.value === "") {
        alert("비밀번호를 입력하세요.");
        f.password.focus();
        return;
      }
      if (f.password2.value === "") {
        alert("비밀번호확인을 입력하세요.");
        f.password2.focus();
        return;
      }
      if (f.password.value !== f.password2.value) {
        alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
        f.password.focus();
        return;
      }
      if (f.email.value === "") {
        alert("이메일을 입력하세요.");
        f.email.focus();
        return;
      }
      // if (emailCheck !== ) {
      //   alert("이메일 중복 체크 및 중복되지 않은 이메일로 가입 바랍니다.");
      //   f.email.focus();
      //   return;
      // }
      if (f.address.value === "") {
        alert("주소를 입력하세요.");
        f.address.focus();
        return;
      }
      if (f.nickName.value === "") {
        alert("닉네임을 입력하세요.");
        f.nickName.focus();
        return;
      }
      if (f.birthday.value === "") {
        alert("생년월일을 입력하세요.");
        f.birthday.focus();
        return;
      }

      if (nickNameCheck !== 0) {
        alert(" 닉네임을 다른 이름으로 작성 바랍니다.");
        f.nickName.focus();
        return;
      }
      if (f.authNumber.value === "") {
        alert("이메일 인증번호를 입력하세요.");
        f.authNumber.focus();
        return;
      }
      if (f.authNumber.value != emailAuthNumber) {
        alert("이메일 인증번호가 일치하지 않습니다.");
        f.authNumber.focus();
        return;
      }
      // Ajax 호출해서 회원가입하기
      $.ajax({
            url: "/user/createUser",
            type: "post", // 전송방식은 Post
            dataType: "JSON", // 전송 결과는 JSON으로 받기
            data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
            success: function (json) { // /user/createUser 호출이 성공했다면..
              if (json.result === 1) { // 회원가입 성공
                alert(json.msg); // 메시지 띄우기
                location.href = "/user/login"; // 로그인 페이지 이동
              } else { // 회원가입 실패
                alert(json.msg); // 메시지 띄우기
              }
            }
          }
      )
    }

  </script>

  <style>
    .divTableCell {
      display: flex;
      align-items: center; / 수직 가운데 정렬 /
    }
  </style>

  <style>
    h2 {
      text-align: center; / 가운데 정렬 /
      font-weight: bold; / 굵은 글꼴 /
      margin-top: 20px; / 위쪽 여백 추가 /
      margin-bottom: 20px; / 아래쪽 여백 추가 /
    }
  </style>

</head>
<body style="background: #1F262D;">
<h2 style="color: #FFAB00">회원 가입하기</h2>
<br/>
<form id="f">
  <div class="divTable minimalistBlack">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell"> 아이디
        </div>
        <div class="divTableCell">
          <input type="text" name="userId" style="width:80%" placeholder="아이디"/>
          <button id="btnUserId" type="button">확인</button>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 이름
        </div>
        <div class="divTableCell">
          <input type="text" name="userName" style="width:80%" placeholder="이름"/>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 비밀번호
        </div>
        <div class="divTableCell">
          <input type="password" name="password" style="width:80%" placeholder="비밀번호"/>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 비밀번호 확인
        </div>
        <div class="divTableCell">
          <input type="password" name="password2" style="width:80%" placeholder="비밀번호 확인"/>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 이메일
        </div>
        <div class="divTableCell">
          <input type="email" name="email" style="width:55%" placeholder="email"/>
          <input type="text" name="authNumber"  style="width: 30%; margin-left: 10px;" placeholder="인증번호">
          <button id="btnSendMail" type="button">중복확인</button>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 주소
        </div>
        <div class="divTableCell">
          <input type="text" name="address" style="width:80%" placeholder="주소"/>
          <button id="btnAddr" type="button">우편번호</button>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 닉네임
        </div>
        <div class="divTableCell">
          <input type="text" name="nickName" style="width:80%" placeholder="닉네임"/>
          <button id="btnNickName" type="button">확인</button>
        </div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell"> 생년월일
        </div>
        <div class="divTableCell">
          <input type="date" name="birthday" style="width:80%"/>
        </div>
      </div>
      <input type="hidden" name="sinceDay"/>
    </div>
  </div>
  <div>
    <button id="btnSend" name="btnSend" type="button">회원가입</button>
  </div>
</form>
</body>
</html>